In [14]:
# We need to import these modules to get started
import numpy as np
import pandas as pd
import os
import platform
import matplotlib.pyplot as plt
%matplotlib inline
%load_ext autoreload
%autoreload 2

# This patch of code just ensures we get an easy to read font size for the duration of the notebook
import matplotlib
font = {'weight' : 'bold',
        'size'   : 15}
matplotlib.rc('font', **font)
# Set file location based on platform. 
platstring = platform.platform()
if ('Darwin' in platstring) or ('macOS' in platstring):
    # macOS 
    data_root = "/Volumes/Brain2023/"
elif 'Windows'  in platstring:
    # Windows (replace with the drive letter of USB drive)
    data_root = "E:/"
elif ('amzn' in platstring):
    # then on Code Ocean
    data_root = "/data/"
else:
    # then your own linux platform
    # EDIT location where you mounted hard drive
    data_root = "/media/$USERNAME/Brain2023/"
from allensdk.core.brain_observatory_cache import BrainObservatoryCache

manifest_file = os.path.join(data_root,'allen-brain-observatory/visual-coding-2p/manifest.json')

boc = BrainObservatoryCache(manifest_file=manifest_file)
import sys
sys.path.insert(0, 'code/utils/create_stim_df')
from create_stim_df import create_stim_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
df = stim_df(boc,627823723)

In [16]:
len(df)

18000

In [17]:
df

       start    end  stim_id      stim_category
0      38376  38376        0  natural_movie_one
1      38377  38377        1  natural_movie_one
2      38378  38378        2  natural_movie_one
3      38379  38379        3  natural_movie_one
4      38380  38380        4  natural_movie_one
...      ...    ...      ...                ...
17995  86237  86238      895  natural_movie_two
17996  86238  86239      896  natural_movie_two
17997  86239  86240      897  natural_movie_two
17998  86240  86241      898  natural_movie_two
17999  86241  86242      899  natural_movie_two

[18000 rows x 4 columns]